body{
    background-color: rgb(150, 146, 146);
}

p {
    color:white;
    background-color:black;
    border-color: rebeccapurple;
    text-align: center;
}

h1{
    text-align: center;
}

div {
    border: 4px solid rgb(150, 61, 238)
}

img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    height: auto;
    border: 4px solid rgb(102, 99, 99);
}

.head-nav-bar{
    display:flex;
    border-style: solid;
    background-color: rgb(151, 142, 212);
    border-radius: 5px;
    margin: 0px;
}

.head-nav-bar a{
    border-right: 4px solid rgb(150, 61, 238);
    justify-content:space-evenly;
    text-align: center;
    flex: 1 0 auto;
    color: rgb(56, 54, 54);
    font-family: sans-serif;
    text-decoration: none; 
}

a:hover{
    text-decoration: underline;
}


